<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange</title>
  </head>
  <body>
    <h1>Currency Pairs </h1>

    <ul>

      <% @currency_abbreviation.each do |currency| %>

        <li>
          <a href="/<%= currency %>" >
            Convert 1 <%= currency %> to... 
          </a>
        </li>

      <% end %>
    </ul>
  </body>
</html>
